body {
  font-family: "Comic Sans MS", Arial, Helvetica;
}

li {
  list-style-type: none;
  flex: 1 0 auto;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: aqua;
  padding: 20px 30px;
  margin: 0px 0px;
  border: solid;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: white;
  
}

#middle-link {
  font-size: 50px;
}
.big-thing {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons button {
  width: 100px;
}

.big-thing-text {
  font-size: 30px;
}
