body {
  font-family: "Comic Sans MS", Arial, Helvetica;
  padding: 0%, 0%;
  margin: 0%, 0%;
}

.header {
  background-image: url("dog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f6fbfe;
}

li {
  list-style-type: none;
  flex: 1 0 auto;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 20px 30px;
  margin: 0px 0px;

  font-size: 20px;
}
a {
  text-decoration: none;
  color: black;
}

#middle-link {
  font-size: 50px;
}

.big-thing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 40px;
}

.buttons {
  display: flex;
  gap: 10px;
  align-self: end;
  padding-right: 60px;
  flex: none;
}

.buttons button {
  padding: 5px 20px;
  background-color: aquamarine;
  border-radius: 10px;
  font-family: inherit;
  transition: padding 1.5s;
}
.buttons button:hover {
  padding: 15px 50px;
}

.big-thing-text {
  font-size: 40px;
  font-weight: 1000;
  color: #61b7c2;
}
.big-thing-subtitle {
  align-self: baseline;
  color: #61b7c2;
}
